
#mailTable{width: 800px;height: 400px;border: 2px solid blue;border-collapse: collapse;}

table td{border: 2px solid blue;padding: 5px;}
table th{border: 2px solid blue;padding: 5px;background-color: #ffeff0;}

.button{margin-left: 40px;}

/*隔行显示不同的颜色*/
.one{background-color: #647975FF;}
.two{background-color: #06CFF8FF;}

/*高亮显示所在行*/
.over{background-color: #C45D51FF;}

